

body {
    background-color: #3289cd
}

.card {
    width: 350px;
    border-radius: 5px;
    display: inline-block;
    border: black 2px solid;
    margin: 50px;
}

.middle {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    padding: 10px
}

.bottom {
    padding: 10px;
    background: #eee;
    padding-top: 30px;

}

.input-group {
    width: 109px
}

.add {
    height: 38px;
    border-radius: 4px;
    margin-left: 40px;
    padding-right: 22px;
    padding-left: 20px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none
}