body,html{
    background-color: #FFF7DF;
}
.cart__container{
    display: flex;
    justify-content: center;
}
.emptyCart__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    padding: 3% 5% 3% 5%;
    box-shadow: 0 0 3px 3px #5a5a5a;
    background-color: #FFDB58;
}
.emptyCart__title{
    font-size: 2.5rem;
    margin-top: 5%;
    margin-bottom: 2%;
    border-bottom:1px solid black;
}
.emptyCart__text{
    font-size: 1rem;
}
.emptyCart__a{
    text-decoration: none;
    padding: 2%;
    font-size: 1.3rem;
    color: white;
    border-radius: 5px;
}
.emptyCart__a:hover{
    background-color: #1b3f02;
    border-radius: 5px;
    color: white;
}
.container__cart-left-col{
    margin: 5% auto auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: orange;
}

.cart__left-row{
    margin:0;
    padding: 0;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #E7E3E3;
}
.cart__header-row{
    margin-bottom: 5%;
}

.cart__column{
    display: flex;
    flex-wrap: wrap;
}

.cart__text{
    font-size: 1.5vw;
    margin-top: 3%;
}
.cart__title{
    font-size: 3vw;
}

.img__container{
    border: 1px solid black;
    object-fit: contain;
    max-height: 100%;
    max-width: 70%;
    margin: 5% auto 5% auto;
}
.cart__img{
    width: 100%;

}
.cart__product-text{
    font-size: 2vw;
    font-weight: bold;
    margin-top: 3%;
}
.cart__label{
    font-size: 1.5vw;
}
.cart__label-size{
    margin-left:5%;
}
.cart__input,.cart__select{
    width: 15%;
}
.cart__select{
    padding: 1%;
}
.cart__column-buttons{
    justify-content: flex-end;
    align-items: center;
}
.cart__button{
    padding: 5%;
    margin: 8% 0 5% 5%;
}
.cart__button-top{
    margin-bottom: 10%;
}

.container__cart-right-col{
    margin: 5% auto auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    border-radius: 3px;
    background-color: pink;
}
.container__right-row{
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.cart__button{
    margin:1% 0 5% 0;
    padding: 2%;
    width:70%;
    font-size: 1vw;
}




