body,html{
    background-color: #FFF7DF;
}
.container__left{
    height: 200%;
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.checkout_row{
    margin: 0;
    padding: 0;
    height: 28.3%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.checkout__column{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.checkout__leftcol{
    height: 100%;
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.checkout__leftcol-row{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
.row__header{
    height: 15%;
    margin: 0;
    padding: 0;
}
.checkout__title{
    margin-left: 5%;
}

.customerinfo__container{
    height: 35%;
    display: flex;
    align-items: flex-start;
}

/*ADDRESS*/
.newAddress__container{
    height: 85%;
}
.address__form{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.address__input,
.myinfo__input{
    width: 80%;
    margin-left: 10%;
}
.address__input-small,
#id_first_name,
#id_last_name{
    width: 35%;
    display: inline;
    margin-left: 10%;
}
.div__label{
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    margin-left:10%;

}
.address__p{
    font-size: 1.5vw;
    margin: 0;
}
.address__label,
.myinfo__label{
    font-size: 1.5rem;
    margin-left:10%;
}
.country-select-flag{
    display: none;
}



/*CARD*/
.cardinfo__container{
    height: 25%;
    display: flex;
    align-items: flex-start;
}
.newCard__container{
    height: 85%;
}
.newCard__form{
    height: 100%;
    margin: auto;
    padding-top: 2%;

}
.cardinfo__label{
    font-size: 1.2vw;
    margin-left: 10%;
    margin-bottom: 2%;
}
.select__label{
    height: 100%;
}
.cardinfo__select-labels{
    width: 80%;
    height: 6%;
    margin-left: 10%;
    margin-bottom: 2%;
    display: flex;
    font-size: 1.2vw;
}
.cardinfo__input{
    width: 80%;
    margin: auto auto 3% auto;
}
.cardinfo__select{
    width: 26%;
    margin: auto auto 2% auto;
    display: inline;
}
.cardinfo__month{
    margin-left: 10%;
}
.cardinfo__button{
    width: 60%;
    margin: 2% auto 2% 20%;
}


.delivery__container{
    height: 20%;
}
.checkout__delivery-row{
    height: 85%;
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.delivery__select{
    margin-top: 2%;
    height: 20%;

}

.dropdown-menu{
    height: 60%;
}
.delivery__li{
    height: 33.33%;
    margin-top:0.5% ;
}
.dropdown-item{
    height: 100%;
}

.container__right{
    position: absolute;
    right: 5%;
    top:20%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.row__header-right{
    padding: 0 0 2% 0;
}
.checkout__product-text{
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
}
.product__text-total{
    font-size: 1.5vw;
    font-weight: bold;
}
.product__description-col{
    margin: 0;
    padding: 4% 0 4% 0;
    border-top: 1px solid black;
}
.checkout__button-confirm{
    color: white;
    width: 80%;
    border: 0;
    border-radius: 5px;
    padding: 3% 0 3% 0;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    text-decoration: none;
}
.checkout__button-confirm:hover{
    background-color: #1b3f02;
    color: white;
}

.register__form{
    display: flex;
    align-items: center;
    justify-content: center;
}

