body,html{
    background-color: #FFDB58;
}
/*-------LOGO----------*/
.container__logo-row{
    height: 20%;
    display: flex;
    justify-content: center;
}
.logo__container-col{
    height: 100%;
    text-align: center;
}
.logo__img{
    height: 60%;
    margin-top: 2%;
}
.logo__text{
    margin: 0;
    font-size: 1rem;
    color: black;
}



/*--------------------USERINFO---------------------*/
.userInfo__container{
    height: 50%;
    display: flex;
    justify-content: center;
}

.container__signup-column{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: 100%;
    justify-content: flex-end;
    text-align: center;
}


.login__row-input,.signup__row{
    width: 95%;
    background-color: rgb(216, 212, 212,0.76);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.signup__row{
    height: 60%;
}


/*--------LOGIN-------*/

.login__row-input{
    height: 100%;
    color: black;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.login__input-text{
    margin: 0;
    height: 15%;
    text-align: center;
}
.login__form{
    height: 70%;
}
input{
    width: 90%;
    height:15%;
    display: block;
    margin-left:5%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
label{
    width: 90%;
    height:15%;
    font-size: 1rem;
    margin: 2% 0 0 5%;
    padding: 3% 0 0 0;
}
.login__button{
    width: 80%;
    height: 15%;
    margin: 3% 0 0 10%;
}
.login__row-forgottenPw{
    height: 15%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: black;
}
.login__button-forgottenPw{
    background-color: transparent;
    border: 0;
}
ul,li{
    list-style-type: none;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-style: italic;
}

/*SUBMIT*/
.login__row-submit{
    height: 15%;
    padding: 0 5% 0 5%;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}
.login__submit-column{
    width: 50%;
}
/*CHECKBOX FORMAT*/
.login__column-checkbox{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.login__checkbox{
    width: 13%;
    height: 60%;
}

.login__checkbox-text{
    color: black;
    font-size: 1rem;
    margin-left:5%;
}

/*LOGIN BUTTON FORMAT*/
.login__column-button{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}




/*FORGOTTEN PASSWORD BUTTON*/


/*--------SIGNUP-------*/

.signup__title{
    margin: 8% 5% 2% 5%;
    color: black;
}

.signup__button{
    width:60%;
    height:20%;
    margin-top: 2%;
    background-color: #274996;
    border: 0;
    border-radius: 2px;
    color: white;
}




