body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

div{
    position: relative;
}

/*-------------HEADER OF WEBSITE------------*/
.banner{
    background-color: #FFDB58;
    height: 15%;
    box-shadow: 0 2px 15px #000000;
}
.banner__column{
    height: 100%;
}

.banner__logoBox{
    display: flex;
    flex-wrap: wrap;
}
.banner__logoImage{
    height: 95%;
    margin-left: 2%;
}
.banner__logoText{
    position: absolute;
    margin-left: 2%;
    bottom: 5%;
}

#banner__searchbar{
    width: 38vw;
    height: 30%;
    display: inline;
    position: absolute;
    bottom: 30%;
}
.banner__search_icon{
    float: right;
    font-size: 1.8vw;
    margin-top: 9%;
}
#banner__UserOptions{
    background-color: #FFDB58;
    height: 100%;
    border-radius: 0;
    padding: auto;
    box-shadow: none;
}
.banner__LoginAndCart{
    width: 45%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:15%; /*MUNA AÐ FÆRA YFIR*/
}

.banner__user-icon,.banner__shopping-cart{
    font-size: 3vw;
    margin: auto;
}

/*-------------OPENING IMAGE------------*/
.img__container{
    margin-top: 2%;
    margin-left: 5%;
    height: 20%;
    width: 90%;
    background-color: #BF5748;
    border-radius: 12px;
    text-align: center;
}

.img__column{
    height: 100%;
}

.img__spoons{
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 10%;
}

#img__blueSpoon{
    left: 0;
}

#img__yellowSpoon{
    right: 0;
}

.img_title{
    margin-top: 1%;
    letter-spacing: 3px;
    font-size: 3.8vw;
    color: white;
    text-shadow: 2px 2px 8px #000000;
}

.img_subTitle{
    font-size: 1.5vw;
    color: white;
    text-shadow: 2px 2px 8px #000000;
}


/*--------CONTAINER CONTACT--------*/
.container{
    width: 90%;
    background-color: #d3d3d3;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 2px;
    box-shadow: 0 2px 15px #000000;
    height: 40%; /*TAKA*/
}

.container__header, .container__items-row{
    width: 98%;
    border-bottom: 1px solid black;
    margin: auto auto 2% auto;
}

/*TAKA*/
.container__items-row{
    height: 70%;
}

.container__header-button{
    position: absolute;
    bottom: 25%;
    right: 0;
    width: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #CC4A4A;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.container__header-text{
    font-size: 3vw;
}
.container__items-column{
    height: 90%;/*TAKA*/
    background-color: #ffffff;
    border-radius: 0.5em;
    margin: auto auto 2% auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 0 1% 0;
}

.container__item-image{
    width: 60%;
    height: 60%; /*TAKA*/
    margin-bottom: 8%;
    border-radius: 5px;
    box-shadow: 0 0 2px #000000;
    object-fit: cover;
}

.container__item-description{
    width: 90%;
    text-align: center;
    font-weight: bold;
    font-size: 1.3vw;
}

.container__items-arrow{
    background-color: transparent;
    font-size: 6vw;
    border-radius: 0;
    margin: 0;
}