body,html{
    background-color: #f9f9f9;
}
.product__content{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    margin:auto;
}
.content__product{
    margin: auto;
    height: 80%;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px #000000;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF7DF;
}
.product_column{
    margin: auto;
}
.image__container{
    display: flex;
    justify-content: center;
    height: 60%;

}
.product__image{
    margin: auto;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px #000000;
}

.productinfo__column{
    height: 100%;
}
.product__title{
    font-size: 3vw;
    margin: 3% 0 3% 5%;
}
.product__description,
.product__ingredients,
.product__nutritions{
    margin-left: 5%;
}
.product__subitem{
    margin-left: 5%;
    width:90%;
}
.product__subitem-ingredients{
    font-size: 0.6rem;
}

.product__nutritions-table{
    border: 1px solid black;
}
.table__space{
    padding: 2%;
}
.product__nutritions-th{
    font-size: 1.2vw;
    padding: 2% 5% 2% 1%;
    border-bottom: 1px solid black;
}
.product__nutritions-td{
    font-size: 1vw;
    text-align: center;
}
.content__price{
    height: 80%;
    margin:auto auto auto auto;
}
.product__row-price{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    height: 30%;
    background-color: #FFF7DF;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px #000000;
}

.price__text{
    font-size: 2vw;
    padding-top: 2%;
}
.button__addtocart{
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.product__row-review{
    padding: 5%;
    margin: 0;
    text-align: center;
    border:1px solid black;
}
.product__input{
    padding: 2%;
    margin: 1% 0 1% 0;
}*/














