html,body{
    background-color: #FFDB58;
    display: flex;
    justify-content: center;
}
.signup__container{
    height: 80%;
    padding: 0;
    margin-top: 1%;
    background-color: rgb(216, 212, 212,0.76);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.container__input{
    border: 1px solid black;
    width: 80%;
    margin: 1% 1% 1% 10%;
}
.container__title{
    font-size: 2vw;
    margin: 1% 1% 1% 5%;
}
.container__text{
    font-size: 0.8vw;
    margin-left: 10%;
}


.container__userInfo,
.container__password,
.container__buttons-row{
    width: 100%;
    margin: 0;
    padding: 0;
}

/*----LOGO TOP ROW------*/
.container__logo{
    height: 15%;
    margin: 0;
    padding: 0;
    background-color: #FFDB58;
}
.logo__img{
    width: 100%;
    object-fit: contain;
}

/*----USER INFO----*/
.container__userInfo{
    height: 45%;
}
.userInfo__input{
    height: 15%;
}

/*PASSWORD ROW*/
.container__password{
    height: 30%;
}
.password__input{
    height: 25%;
}

/*BUTTONS ROW*/
.container__buttons-row{
    height: 10%;
}
.buttons__column{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.signup__buttons{
    width:50%;
    height:80%;
    margin-top: 2%;
}







