html,body{
    background-color: #FFDB58;
    display: flex;
    justify-content: center;
}
.signup__container{
    max-height: 90%;
    padding: 0;
    background-color: rgb(216, 212, 212,0.76);
}
/*----LOGO TOP ROW------*/
.container__logo{
    height: 13%;
    margin: 0;
    padding: 0;
    background-color: #FFDB58;
}
.logo__img{
    width: 100%;
    object-fit: contain;
}

.register__form{
    height: 85%;
    margin: auto;
    padding: 0;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
span{
    margin: 0;
    padding: 0;
}
label{
    font-size: 1.3vw;
    margin: 2% 0 0 0;
    padding: 0;
}
.signup__input,input{
    height: 6%;
    margin: 0;
    padding: 2%;
    width: 100%;
}
span{
    margin: 0;
    padding: 0;
}
.helptext{
    color: gray;
    font-size: 0.8vw;
    font-style: italic;
    width: 100%;
    margin: 0;
}
.signup__button{
    width:50%;
    margin: 2% 0 0 25%;
    padding: 0;
}
.signup__button:hover{
    background-color: #1b3f02;
    border: 0;
}

/*.container__input{
    border: 1px solid black;
    width: 80%;
    margin: 1% 1% 1% 10%;
}
.container__title{
    font-size: 2vw;
    margin: 1% 1% 1% 5%;
}
.container__text{
    font-size: 0.8vw;
    margin-left: 10%;
}


.container__userInfo,
.container__password,
.container__buttons-row{
    margin: 0;
    padding: 0;
}



----USER INFO----
.container__userInfo{
    height: 45%;
}
.userInfo__input{
    height: 15%;
}*/

/*PASSWORD ROW
.container__password{
    height: 30%;
}
.password__input{
    height: 25%;
}

BUTTONS ROW
.container__buttons-row{
    height: 10%;
}
.buttons__column{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
*/







