
/*-------------USER OPTIONS-------------*/


/*------OPTION 1: USER INFO-------*/
.optiondisplay__userinfo-content-row{
    height: 85%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-top: 1px solid black;
    width: 90%;
}

.userinfo__column-profile{
    height: 80%;
    margin-top:3%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-right: 1px solid black;
}
.profile__form{
    height: 40%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img__container{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 60%;
    border-radius: 50%;
    border: 1px solid black;
}
.profile__img{
    width: 100%;
    height: 100%;
    color: transparent;
    text-decoration: none;
    border-radius: 50%;
}
#id_profileImage{
    width: 90%;
    margin-bottom: 5%;
    height: 25%;
}
.profile__label{
    font-size: 1.2vw;
    margin:10% 30% 2% 0;
    font-weight: bold;
}
}
.userinfo__profile-button{
    width: 70%;
    height: 12%;
    margin: 0 0 40% 0;
    font-size: 1.1vw;
    border: 0;
}


.userinfo__myinfo-col{
    height: 100%;
    margin-top:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
}
.myinfo__header-row{
    width: 100%;
    margin: 3% 0 3% 0;
    padding: 0;
    text-align: center;
}
.myinfo__header-title{
    font-size: 2vw;
    margin: 0 0 1% 0;
}
.myinfo__header-subtext{
    margin: 0;
    padding: 0;
}
.myinfo__label{
    font-size: 1.5vw;
    padding: 0;
    margin: 0;
}
.myinfo__input{
    display: block;
    width: 80%;
    height: 10%;
    margin-bottom:2%;
    background-color: #ffffff;
    border: 1px solid #969696;
}
.myinfo__input,.myinfo__label{
    margin-left: 10%;
}

.myinfo__button{
    height: 10%;
    width: 60%;
    margin:0 0 0 20%;
}


/*OPTION 2: ADDRESS*/
.address__content-col{
    height: 85%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid black;
}
.address__form{
    height: 90%;
    padding-top: 2%;
}
.address__info-title{
    height: 10%;
    margin: 0;
    padding-top: 1%;
    font-size: 2vw;
    border-bottom: 1px solid black;
}
.add_address{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    margin-top: 2%;
}
.div__label{
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
}
.address__p{
    font-size: 1vw;
    margin: 0;
}
.address__label{
    font-size: 1vw;
    margin-left:10%;
}
.address__input{
    width: 80%;
    margin: auto auto 3% auto;
}
.address__input-small{
    width: 35%;
    display: inline;
    margin-left: 10%;
}
.country-select-flag{
    display: none;
}

.address__button{
    width: 60%;
    margin: 2% auto 2% 20%;
}
.address__button:hover{
    border: 0;
    background-color: #1c356e;
}
.existing_address-col{
    margin-top: 2%;
    height: 100%;
}
.existing_address-p{
    font-size: 1.3vw;
    margin-top: 2%;
    margin-bottom: 0;
}


/*OPTION 3: CARD INFO*/

.cardinfo__content-col{
    height: 85%;
    padding:0;
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid black;
}
.cardinfo__content-form{
    height: 90%;
    width: 100%;
    margin: 0;
    padding-top: 2%;
}
.add_card,.existing_cards-col{
    height: 100%;
}

.add_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}
.card__info-title{
    height: 10%;
    margin: 0;
    padding-top: 1%;
    font-size: 2vw;
    border-bottom: 1px solid black;
}

.cardinfo__label{
    font-size: 1.2vw;
    margin:0 0 0 10%;
}
.select__label{
    height: 100%;
}
.cardinfo__select-labels{
    width: 80%;
    height: 6%;
    margin-left: 10%;
    display: flex;
    font-size: 1.2vw;
}
.cardinfo__input{
    width: 80%;
    margin: auto auto 3% auto;
}
.cardinfo__select{
    width: 26%;
    margin: auto auto 2% auto;
    display: inline;
}
.cardinfo__month{
    margin-left: 10%;
}
.cardinfo__button{
    width: 60%;
    margin: 2% auto 2% 20%;
}
.existing_cards-col{
    margin-top: 2%;
}


/*OPTION 4: CHANGE PASSWORD*/
/*.passwordchange__content-col{
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    margin:0 0 0 30%;
    text-align: left;
}
.passwordchange__content-top-row{
    height: 75%;
    margin: 0;
    padding: 0;
}
.passwordchange__label{
    font-size: 1.5vw;
    padding: 0 10% 0 0;
    margin: 2% 0 0 10%;
}
.passwordchange__input{
    height: 20%;
    width: 80%;
    margin: 0 0 5% 10%;
    padding: 0;
}

.passwordchange__content-bottom-row{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.passwordchange__button{
    width: 70%;
    height: 60%;
}*/