{% load static %}

<div class="botn col-md-5 col-md-offset-1 ">
    <h1 class="ofnaemi--stadsettning">Ofnæmismerkingar</h1>
    <img class="ofnaemi_mynd" src="{% static 'layoutPictures/ofnaemi.png' %}" alt="ofnaemi_merkingar">
</div>

<div class="botn col-md-5 col-md-offset-1">
    <i class="fas fa-car-side fa-7x"></i>
    <h1 class="Heimsendingar--stadsetning" >Heimsendingar</h1>
    <p class="ord__breytingar">Við sendum út um land allt. <br> Allan sólahringinn,
        alla daga <br> ársins. Fyrir þá sem elska <br> miðnætur snarlið sitt</p>
</div>
