{% load static %}

<div class="midja">
    <img class="forsidu__mynd col-md-11" src="{% static 'layoutPictures/Forsiðumynd.png' %}" alt="forsíðumynd">
</div>
<div class="Forsida__takkar">
    <!--<a href="{% url 'ProductView' %}" class="links">Allar Vörur</a>-->
    <button class="col-md-3 forsidu--vorur button-- inn button__blue" onclick="location.href='{% url 'ProductView' %}'">Allar Vörur</button>
    <button class="col-md-3 forsidu--varningur button-- inn button__blue" onclick="location.href='{% url 'MerchView' %}'">Varningur</button>
    <button class="col-md-3 forsidu--vinsaelt button-- inn button__blue" onclick="location.href='{% url 'ProductView' %}'">Vinsælt</button>
</div>

