{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href=" {% static 'css/allitems.css' %} ">
    <center>
    {% if searched %}
        <h1>Þú leitaðir að {{ searched }}</h1>
        <br>
    {% for product in products %}
        <a href="/store/{{ product.productId }}">
            <div class="card col-sm-4" id="{{ product.productId }}">
                <div class="middle"> <img src="{% static 'productPictures/'%}{{ product.image }}" width="300" height="300">
                    <h5>{{ product.name}}</h5>
                </div>
        </a>
            <form method="post" >
            {% csrf_token %}
                <div class="bottom d-flex flex-row justify-content-center">
                    <a class="btn btn-success btn-sm add" type="submit" href="{{ product.productId }}/addtocart">Setja í körfu {{ product.price }}</a>
                </div>
                </div>
            </form>
    {% endfor %}

    {% else %}
        <h1>Gleymdiru nokkuð að skrifa hverju þú leytar að?</h1>
    {% endif %}
    </center>
{% endblock %}


