{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/merch.css' %}">
    <!--<link rel="stylesheet" type="text/css" media="screen" href="subcategory1.css" >-->
        <title>Varningur</title>
            <div class="row img__container">

            <div class="col-md-4 img__column" >
                <img src="{% static '/productPictures/rut_spoon_blue.png'%}" class="img__spoons" id="img__blueSpoon">
            </div>

            <div class="col-md-4 img__column">
                <h1 class="img_title">Varningur</h1>
                <h2 class="img_subTitle">Skálar - Bollar - Skeiðar - Bolir - Mjólkurvörur</h2>
            </div>

            <div class="col-md-4 img__column">
                <img src="{% static '/productPictures/rut_spoon_yellow.png'%}" class="img__spoons" id="img__yellowSpoon">
            </div>

        </div>

<!-- SKÁLAR -->
        <div class="row container">
            <div class="row container__header">
                <div class="col-md-6 container__header-column">
                    <h2 class="container__header-text">Skálar</h2>
                </div>

                <div class="col-md-6 container__header-column">
                    <button class="container__header-button" onclick="location.href='{% url 'BowlView' %}'">Skoða Meira</button>
                </div>

            </div>

            <!--SETJA INN FOR LOOP FYRIR SKÁLAR -->
                    <div class="row container__items-row">
                        {% for bowl in bowls %}
                        <div class="col-md-2 container__items-column">
                            <img src="{% static 'productPictures/'%}{{ bowl.image }}" alt="skal" class="container__item-image">
                            <div class="container__item-description">
                                <p>{{ bowl.name }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
        </div>

<!-- BOLLAR -->
        <div class="row container">
            <div class="row container__header">
                <div class="col-md-6 container__header-column">
                    <h2 class="container__header-text">Bollar</h2>
                </div>

                <div class="col-md-6 container__header-column">
                    <button class="container__header-button" onclick="location.href='{% url 'MugView' %}'">Skoða Meira</button>
                </div>

            </div>

                    <div class="row container__items-row">
                        {% for mug in mugs %}
                        <div class="col-md-2 container__items-column">
                            <img src="{% static 'productPictures/'%}{{ mug.image }}" alt="skal" class="container__item-image">
                            <div class="container__item-description">
                                <p>{{ mug.name }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

            </div>

    <!-- SKEIÐAR -->
            <div class="row container">
            <div class="row container__header">

                <div class="col-md-6 container__header-column">
                    <h2 class="container__header-text">Skeiðar</h2>
                </div>

                <div class="col-md-6 container__header-column">
                    <button class="container__header-button" onclick="location.href='{% url 'SpoonView' %}'">Skoða Meira</button>
                </div>

            </div>

                    <div class="row container__items-row">
                        {% for spoon in spoons %}
                        <div class="col-md-2 container__items-column">
                            <img src="{% static 'productPictures/'%}{{ spoon.image }}" alt="skal" class="container__item-image">
                            <div class="container__item-description">
                                <p>{{ spoon.name }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>

    <!-- BOLIR -->
            <div class="row container">
            <div class="row container__header">
                <div class="col-md-6 container__header-column">
                    <h2 class="container__header-text">Bolir</h2>
                </div>
                <div class="col-md-6 container__header-column">
                    <button class="container__header-button" onclick="location.href='{% url 'TShirtView' %}'" >Skoða Meira</button>
                </div>

            </div>

                    <div class="row container__items-row">
                        {% for tshirt in tshirts %}
                        <div class="col-md-2 container__items-column">
                            <img src="{% static 'productPictures/'%}{{ tshirt.image }}" alt="tshirt" class="container__item-image">
                            <div class="container__item-description">
                                <p>{{ tshirt.name }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>

<!-- MJÓLKURVÖRUR -->
            <div class="row container">
            <div class="row container__header">
                <div class="col-md-6 container__header-column">
                    <h2 class="container__header-text">Mjólkurvörur</h2>
                </div>
                <div class="col-md-6 container__header-column">
                    <button class="container__header-button" onclick="location.href='{% url 'MilkView' %}'" >Skoða Meira</button>
                </div>

            </div>
                    <div class="row container__items-row">
                        {% for milk in milks %}
                        <div class="col-md-2 container__items-column">
                            <img src="{% static 'productPictures/'%}{{ milk.image }}" alt="milk" class="container__item-image">
                            <div class="container__item-description">
                                <p>{{ milk.name }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>

{% endblock %}

