{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href=" {% static 'css/product_view.css' %} ">
    <div class="product__content col-md-11">
        <div class="col-md-6 content__product product_column" >
            <div class="col-md-5 image__container prod">
                <img class="col-md-10 product__image" src="{% static 'productPictures/'%}{{ product.image }}" alt="MYND">
            </div>

            <div class="col-md-7 productinfo__column product_column">
                <h1 class="col-md-12 product__title" >{{ product.name }}</h1>

                <div class="product__description ">
                    <h2 class="h2__text">Lýsing:</h2>
                    <p class="p__text product__subitem">{{ product.description }}</p>
                </div>

                {% if product.isFood %}
                    <div class="product__ingredients">

                        <h2 class="h2__text">Innihald:</h2>
                        <p class="p__text product__subitem">{{ nutriens.ingredients }}</p>
                    </div>

                    <!--<div class="product__nutritions">
                        <h2 class="h2__text">Næringargildi:</h2>
                        <table class="product__nutritions-table product__subitem">
                            <thead>
                            <tr>
                                <th scope="col" class="table__space"></th>
                                <th scope="col" class="product__nutritions-th">Kaloríur</th>
                                <th scope="col" class="product__nutritions-th">Fita</th>
                                <th scope="col" class="product__nutritions-th">Kolvetni</th>
                                <th scope="col" class="product__nutritions-th">Prótein</th>
                                <th scope="col" class="table__space"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="col" class="table__space"></td>
                                <td class="product__nutritions-td">180 g</td>
                                <td class="product__nutritions-td">1 g</td>
                                <td class="product__nutritions-td">42 g</td>
                                <td class="product__nutritions-td">3 g</td>
                                <td scope="col" class="table__space"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>-->
                {% endif %}
            </div>
        </div>

        <div class="col-md-4 content__price " >
            <div class="row product__row-price">
                <h1 class="col-md-4 price__text col-md-11" ><b>Verð:</b> {{ product.price }} ISK </h1>
                <a class="btn btn-success btn-sm button__green button__addtocart col-md-11 " type="submit" href="{{ product.productId }}/addtocart">Setja í körfu</a>
            </div>

            <!--<div class="row product__row-review">
                <h1 class="col-md-12 h1__text" >Setja ummæli</h1>
                <input type="text" class="col-md-12 product__input" placeholder="Hvað fannst þér um þessa vöru?">
                <button class="col-md-9 product__button button__blue">Senda</button>
            </div>-->
        </div>
    </div>
{% endblock %}