{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href=" {% static 'css/allitems.css' %} ">
            <title>Ship O' Cereal</title>
        <link rel="stylesheet" href=" {% static 'css/subcategory.css' %} ">

        <div class="row" id="filters">

            <div class="col-md-2 filters__dropDownMenus">
                <label for="filters__sortBy" class="filters__labels">Raða eftir</label>
                <select name="filters__sortBy" id="filters__sortBy" class="filters__select">
                    <option value="filler">Velja:</option>
                    <option value="Popular">Vinsælast</option>
                    <option value="Newest">Nýjast</option>
                </select>
            </div>

            <div class="col-md-2 filters__dropDownMenus">
                <label for="filters__price" class="filters__labels">Verð</label>
                <select name="filters__price" id="filters__price" class="filters__select">
                    <option value="filler">Velja:</option>
                    <option value="HighestToLowest">Hæðsta til Lægsta</option>
                    <option value="LowestToHighest">Lægsta til Hæðsta</option>
                    <option value="priceBar">Bæta við verðstilli??</option>
                </select>
            </div>

            <div class="col-md-2 filters__dropDownMenus">
                <label for="filters__type" class="filters__labels">Tegund</label>
                <select name="filters__type" id="filters__type" class="filters__select">
                    <option value="filler">Velja:</option>
                    <option value="Wheat">Hveiti</option>
                    <option value="Barley">Bigg</option>
                    <option value="Oats">Hafrar</option>
                </select>
            </div>

            <div class="col-md-2 filters__dropDownMenus">
                <label for="filters__manufacturer" class="filters__labels">Frammleiðandi</label>
                <select name="filters__manufacturer" id="filters__manufacturer" class="filters__select">
                    <option value="filler">Velja:</option>
                    <option value="Cheerios">Cheerios</option>
                    <option value="Kellogs">Kellogg's</option>
                    <option value="Nestle">Nestle</option>
                </select>
            </div>

            <div class="col-md-2 filters__dropDownMenus" id="TAKA">

                <label for="filters__selectAllergence" id="filters__labelAllergence" class="filters__labels">Ofnæmisvaldar</label>

                <form class="filters__formAllergence">
                  <div class="filters__multiselect">
                    <div class="selectBox" onclick="showCheckboxes()">
                      <select name="filters__selectAllergence" id="filters__selectAllergence" class="filters__select">
                        <option>Sleppa:</option>
                      </select>
                      <div class="filters__overSelect"></div> <!--To hide the select pop out-->
                    </div>
                    <div id="filters__checkboxes">
                      <label for="Nuts" class="filters__checkbox_lable"><input type="checkbox" id="Nuts" />&nbsp;Hnetur</label>
                      <label for="Penuts" class="filters__checkbox_lable"><input type="checkbox" id="Penuts" />&nbsp;Jarðhnetur</label>
                      <label for="Soya" class="filters__checkbox_lable"><input type="checkbox" id="Soya" />&nbsp;Soya</label>
                      <label for="Milk" class="filters__checkbox_lable"><input type="checkbox" id="Milk" />&nbsp;Mjólk</label>
                      <label for="Gluten" class="filters__checkbox_lable"><input type="checkbox" id="Gluten" />&nbsp;Glúten</label>
                      <label for="Egg" class="filters__checkbox_lable"><input type="checkbox" id="Egg" />&nbsp;Egg</label>
                      <label for="Sesame" class="filters__checkbox_lable"><input type="checkbox" id="Sesame" />&nbsp;Sesam</label>
                    </div>
                  </div>
                </form>

            </div>
        </div>
    {% for product in products %}
        <a href="/store/{{ product.productId }}">
            <div class="card col-sm-4" id="{{ product.productId }}">
                <div class="middle"> <img src="{% static 'productPictures/'%}{{ product.image }}" width="300" height="300">
                    <h5>{{ product.name}}</h5>
                </div>
        </a>
            <form method="post" >
            {% csrf_token %}
                <input >
                <div class="bottom d-flex flex-row justify-content-center">
                    <div class="input-group mb-3">

                        <span class="input-group-text">+</span> <input type="text" class="form-control" value="1"><span class="input-group-text">-</span></div><a class="btn btn-success btn-sm add" type="submit" href="{{ product.productId }}/addtocart">Setja í körfu {{ product.price }}</a>
                    </div>
                </div>
            </form>
    {% endfor %}

{% endblock %}






