{% load static %}
<div class="col-md-5 address__content-col">
    <div class="col-md-8 address__content-text-col">
        <h2 class="address__text address__text-top">Dúfnahólar 10</h2>
        <h2 class="address__text">101</h2>
        <h2 class="address__text">Reykjavík</h2>
        <h2 class="address__text address__text-bottom">Ísland</h2>
        <i class="address__subtext">Þetta er aðal heimilsfangið þitt</i>

    </div>
        <div class="col-md-4 address__button-col">
            <button class="address__button button__red">Eyða heimilsfangi</button>
            <button class="address__button button__blue address__button-lower">Breyta heimilsfangi</button>
        </div>
    </div>

    <div class="col-md-5 address__content-col">

        <div class="col-md-8 address__content-text-col">
            <h2 class="address__text address__text-top">Dúfnahólar 10</h2>
            <h2 class="address__text">101</h2>
            <h2 class="address__text">Reykjavík</h2>
            <h2 class="address__text address__text-bottom">Ísland</h2>
            <button class="address__mainAddress-button">Gera að aðal Heimilsfangi</button>
        </div>

        <div class="col-md-4 address__button-col">
            <button class="address__button button__red">Eyða heimilsfangi</button>
            <button class="address__button button__blue address__button-lower">Breyta heimilsfangi</button>
        </div>
</div>