{% load static %}

<div class="col-md-5 cardinfo__content-col">
    <div class="col-md-9 cardinfo__content-top-col">
        <label for="cardnum" class="cardinfo__label">Kort:</label>
        <p class="cardinfo__text" id="cardnum">Visa(4598)</p>

        <label for="expdate" class="cardinfo__label">Gildistími:</label>
        <p class="cardinfo__text" id="expdate">01/22</p>

        <label for="namecard" class="cardinfo__label">Nafn á korti:</label>
        <p class="cardinfo__text cardinfo__text-bottom" id="namecard">Jón Jósson</p>

        <i class="cardinfo__subtext">Þetta er aðal greiðlsumátinn þitt</i>
    </div>

    <div class="col-md-3 cardinfo__content-middle-col">
        <button class="cardinfo__button-delete button__red">Eyða korti</button>
    </div>

    <div class="col-md-12 cardinfo__content-bottom-col">
        <button class="cardinfo__button-add button__green">Bæta við Greiðlsumáta</button>
    </div>
</div>