{% load static %}

<div class="col-md-5 passwordchange__content-col">
    <div class="row passwordchange__content-top-row">
        <label for="oldpw" class="passwordchange__label">Gamla Lykilorð</label>
        <input type="text" class="passwordchange__input" placeholder="******************">

        <label for="oldpw" class="passwordchange__label">Nýja Lykilorð</label>
        <input type="text" class="passwordchange__input" placeholder="******************">
    </div>

    <div class="row passwordchange__content-bottom-row">
        <button class="passwordchange__button button__green">Breyta Lykilorði</button>
    </div>

</div>