{% extends 'base_no_banner.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" href="{% static '/css/user.css' %}">
        <link rel="stylesheet" href="{% static '/css/useroptions.css' %}">

        <div class="col-md-10 user__container">
            <div class="row container__header">
                <div class="col-md-4 header__column header__column-logo">
                    <img src="{% static '/layoutPictures/Logo.png' %}" alt="Logo" class="header__logo">
                </div>
                <div class="col-md-4 header__column header__column-title">
                    <h1 class="header__title">Mínar Síður</h1>
                </div>
                <div class="col-md-4 header__column header__column-button">
                    <button class="header__button button__red" onclick="location.href='{% url 'home' %}'">Fara aftur á forsíðu</button>
                </div>
            </div>


            <div class="row container__useroptions">
                <div class="col-md-3 useroptions__menubar-col">
                    <nav class="useroptions__menubar-nav">
                        <ul class="menubar__ul">
                            <li class="menubar__li menubar__topli" onclick="location.href='{% url 'userprofielView' %}'" value="myinfo">
                                <p class="col-md-10 menubar__p">Mínar Upplýsingar</p>
                            </li>
                            <li class="menubar__li active__menubar" onclick="location.href='{% url 'AddressView' %}'" value="address">
                                <p class="col-md-10 menubar__p">Heimilisfang</p>
                                <i class="arrow">&rarr;</i>
                            </li>
                            <li class="menubar__li"  onclick="location.href='{% url 'CreditcardView' %}'" value="cardinfo">
                                <p class="col-md-10 menubar__p">Korta Upplýsingar</p>
                            </li>
                            <li class="menubar__li TAKA" onclick="location.href='{% url 'AddressView' %}'"  value="changepw">
                                <p class="col-md-10 menubar__p">Breyta um Lykilorð</p>
                            </li>
                            <li class="menubar__li TAKA" onclick="location.href='{% url 'AddressView' %}'" value="wishlist">
                                <p class="col-md-10 menubar__p">Óskalistinn Minn</p>
                            </li>
                            <li class="menubar__li TAKA" onclick="location.href='{% url 'AddressView' %}'" value="myorders">
                                <p class="col-md-10 menubar__p">Mínar Pantanir</p>
                            </li>
                        </ul>
                    </nav>
                </div>


                <div class="col-md-8 useroptions__optiondisplay-col">
                    <div class="row optiondisplay__header-row">
                        <div class="col-md-10 optiondisplay__header-col">
                            <h2 class="optiondisplay__header-title">Heimilisfang</h2>
                        </div>
                    </div>

                    <div class="div__address address__content-col col-md-11">
                        <div class="col-md-6 add_address">
                            <h1 class="address__info-title col-md-11">Change address</h1>
                            <form class="form form-horizontal address__form col-md-11" method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    {% if field.auto_id == "id_address"%}
                                        <label class="address__label" for="{{ field.auto_id }}">Street</label>
                                    {% elif  field.auto_id == "id_apt_num"%}
                                        <div class="div__label">
                                            <p class="address__p col-md-7">Aparment number</p>
                                            <p class="address__p col-md-5">Zip</p>
                                        </div>

                                    {% elif field.auto_id == "id_country" or field.auto_id == "id_town"%}
                                        <label class="address__label" for="{{ field.auto_id }}">{{ field.label}}</label>
                                    {% endif %}
                                    {{field}}
                                {% endfor %}
                                <input type="submit" class="btn btn-primary button__blue address__button" value="add address">
                            </form>
                        </div>

                        <div class="col-md-6 existing_address-col">
                            <h1 class="address__info-title existing_address-title col-md-11">Existing Address</h1>
                            <p class="existing_address-p"><b>Street:</b> {{ address.address }}</p>
                            <p class="existing_address-p"><b>Town:</b> {{ address.town }}</p>
                            <p class="existing_address-p"><b>Aparment Number:</b> {{ address.apt_num }}</p>
                            <p class="existing_address-p"><b>Zip:</b> {{ address.zip }}</p>
                            <p class="existing_address-p"><b>Country:</b> {{ address.country }}</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
{% endblock %}






