{% extends 'base.html' %}
{% load static %}
{% block content %}


    <link rel="stylesheet" href="{% static '/css/cart.css' %}">
    <title>Karfan Þín</title>

    <div class="col-md-6 container__cart-left-col">

        <div class="row cart__left-row cart__header-row" >
            <div class="col-md-6 cart__column" >
                <h1 class="cart__title">Karfan Þín</h1>
            </div>
{#            <div class="col-md-6 cart__column" >#}
{#                <p class="cart__text">Vörur eru geymdar í körfu í 60mín</p>#}
{#            </div>#}
        </div>

        {% for item in cart %}
        <div class="row cart__left-row container__item-cart" >
            <div class="col-md-3 cart__column" >
                <div class="img__container" >
                    <img src="{% static 'productPictures/'%}{{ item.productId.image }}" class="cart__img" alt="mynd">
                </div>
            </div>
            <div class="col-md-6" id="{{ item.folioId }}" >
                <h2 class="cart__product-text">{{ item.productId.name }}</h2>
                <label for="product-quantity" class="cart__label">Magn:</label>
                <p>{{ item.amount }}</p>
                <h2 class="cart__product-text" id="subtotal{{ item.folioId }}"></h2>

            </div>
            <div class="col-md-3 cart__column cart__column-buttons" >
                <form
                <button class="cart__button button__red cart__button-top" onclick="{url 'RemoveFromCart'}""">Fjarlægja úr körfu</button>
{#                <button class="cart__button button__blue">Setja á óskalista</button>#}
            </div>
        </div>
        <script>
            function myFunction() {
                let c = parseInt({{ item.amount }}) * parseInt({{ item.productId.price }});
                {#document.getElementById("subtotal{{ item.folioId }}").innerHTML = "aaa";#}
                {#console.log('aaa')#}
                document.getElementById("subtotal{{ item.folioId }}").innerHTML = c.toString();
            }
            myFunction()
        </script>

        {% endfor %}

    </div>

    <div class="col-md-4 container__cart-right-col">
        <div class="row container__right-row cart__header-row">
            <h2 class="cart__text cart__title">Samtals</h2>
        </div>


        {% for item in cart %}
        <div class="row container__right-row cart__items">
            <div class="col-md-8 product__description-col">
                <p class="product-text product_name">{{ item.productId.name }}</p>
                <p class="product-text product Quantity">Magn: {{ item.amount }}</p>
            </div>

            <div class="col-md-3 product__description-col">
                <p class="product-text product-total  font__bold" id="carttotal{{ item.folioId }}" ></p>
            </div>
        </div>
        <script>
            function subtotal() {
                let c = parseInt({{ item.amount }}) * parseInt({{ item.productId.price }});
                document.getElementById("carttotal{{ item.folioId }}").innerHTML = c.toString();
            }
            subtotal()
        </script>
        {% endfor %}


        <div class="row container__right-row cart__total">
            <div class="col-md-8 product__description-col">
                <p class="product-text font__bold"> Heildarupphæð:</p>
            </div>

            <div class="col-md-3 product__description-col">
                <p class="product-text font__bold" id="order-total" >Þarf að útfæra math virkni</p>
            </div>
            <script>
                function getTotal() {
                    let subtotals = document.getElementsByClassName("product-text product-total  font__bold");
                    var summa = 0;
                    var i;
                    for (i = 0; i < subtotals.length; i++) {
                        summa += parseInt(subtotals[i].innerHTML);
                    }
                    document.getElementById("order-total").innerHTML = summa.toString();
                }
                getTotal();
            </script>
        </div>

        <div class="row container__right-row">
            <button class="cart__button button__green" onclick="location.href='{% url 'CheckoutView' %}'">Borga</button>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
{% endblock %}