{% extends 'base_no_banner.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" href="{% static '/css/user.css' %}">
        <link rel="stylesheet" href="{% static '/css/useroptions.css' %}">

        <div class="col-md-10 user__container">
            <div class="row container__header">
                <div class="col-md-4 header__column header__column-logo">
                    <img src="{% static '/layoutPictures/Logo.png' %}" alt="Logo" class="header__logo">
                </div>
                <div class="col-md-4 header__column header__column-title">
                    <h1 class="header__title">Mínar Síður</h1>
                </div>
                <div class="col-md-4 header__column header__column-button">
                    <button class="header__button button__red" onclick="location.href='{% url 'home' %}'">Fara aftur á forsíðu</button>
                </div>
            </div>


            <div class="row container__useroptions">
                <div class="col-md-3 useroptions__menubar-col">
                    <nav class="useroptions__menubar-nav">
                        <ul class="menubar__ul">
                            <li class="menubar__li menubar__topli" onclick="location.href='{% url 'userprofielView' %}'" value="myinfo">
                                <p class="col-md-10 menubar__p">Mínar Upplýsingar</p>
                            </li>
                            <li class="menubar__li " onclick="location.href='{% url 'AddressView' %}'" value="address">
                                <p class="col-md-10 menubar__p">Heimilisfang</p>
                            </li>
                            <li class="menubar__li" onclick="location.href='{% url 'CreditcardView' %}'" id="cardinfo" value="cardinfo">
                                <p class="col-md-10 menubar__p">Korta Upplýsingar</p>
                            </li>
                            <li class="menubar__li active__menubar"  value="changepw">
                                <p class="col-md-10 menubar__p">Breyta um Lykilorð</p>
                                <i class="arrow">&rarr;</i>
                            </li>
                            <li class="menubar__li HIDDEN" value="wishlist">
                                <p class="col-md-10 menubar__p">Óskalistinn Minn</p>
                            </li>
                            <li class="menubar__li HIDDEN" value="myorders">
                                <p class="col-md-10 menubar__p">Mínar Pantanir</p>
                            </li>
                        </ul>
                    </nav>

                </div>


                <div class="col-md-8 useroptions__optiondisplay-col">
                    <div class="row optiondisplay__header-row">
                        <div class="col-md-10 optiondisplay__header-col">
                            <h2 class="optiondisplay__header-title">Breyta Lykilorði</h2>
                        </div>
                    </div>

                    <div class="col-md-6 changepw__content-col">
                        <form class="form form-horizontal changepw__form col-md-12" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <!--{% for field in form %}
                                {% if field.auto_id == 'id_old_password' %}
                                    <label class="changepw__label col-md-11" for="{{ field.auto_id}}">Gamla Lykilorðið</label>
                                {% elif field.auto_id == 'id_new_password1' %}
                                    <label class="changepw__label col-md-11" for="{{ field.auto_id}}">Nýja lykilorðið</label>
                                {% elif  field.auto_id == 'id_new_password2' %}
                                    <label class="changepw__label col-md-11" for="{{ field.auto_id}}">Staðfesta nýja lykilorðið</label>
                                {% endif %}
                                {{ field }}
                            {% endfor %}-->


                            <input type="submit" class="btn btn-primary cardinfo__button button__blue" value="Breyta lykilorði">
                        </form>
                    </div>

                </div>
            </div>

        </div>

        <script src="{% static 'js/user.js' %}"></script>
{% endblock %}
