{% extends 'base_no_banner.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" href="{% static '/css/login.css' %}">

        <div class="row container__logo-row">
           <div class="col-md-8 logo__container-col">
               <img src="{% static '/layoutPictures/Logo_3.png' %}" alt="Logo" class="logo__img">
               <p class="logo__text">Velkomin á innskráningarvef Ship O' Cereal</p>
           </div>
        </div>

        <div class="row userInfo__container">
            <div class="col-md-4 col-md-offset-2 container__login-column">

                <div class="row login__row-input">
                    <h1 class="login__input-text col-md-11 justify-content-center">Skráðu þig inn</h1>
                    <form class="form form-horizontal login__form col-md-11" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" class="btn btn-primary button__green login__button" value="Innskrá">
                    </form>
                    <div class="row login__row-forgottenPw">
                        <button id="forgottenPw" class="login__button-forgottenPw font__italic">Gleymt Lykilorð? Ýttu hér til að fá nýtt</button>
                    </div>
                </div>
            </div>


            <div class="col-md-4 container__signup-column">
                <div class="row signup__row">
                    <h1 class="signup__title">Búa til Aðgang</h1>
                    <p>Ertu að versla í fyrsta skiptið? Búðu þá til aðgang</p>
                    <button id="newUser" class="signup__button" onclick="location.href='{% url 'register' %}'">Nýr Aðgangur</button>
                </div>
            </div>
        </div>
{% endblock %}
