{% extends 'base_no_banner.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" href="{% static '/css/user.css' %}">
        <link rel="stylesheet" href="{% static '/css/useroptions.css' %}">

        <div class="col-md-10 user__container">
            <div class="row container__header">
                <div class="col-md-4 header__column header__column-logo">
                    <img src="{% static '/layoutPictures/Logo.png' %}" alt="Logo" class="header__logo">
                </div>
                <div class="col-md-4 header__column header__column-title">
                    <button class="header__button button__red" onclick="location.href='{% url 'home' %}'">Fara aftur á forsíðu</button>
                </div>
                <div class="col-md-4 header__column header__column-button">
                    <button class="header__button button__red" onclick="location.href='{% url 'home' %}'">Fara aftur á forsíðu</button>
                </div>
            </div>


            <div class="row container__useroptions">
                <div class="col-md-3 useroptions__menubar-col">
                    <nav class="useroptions__menubar-nav">
                        <ul class="menubar__ul">
                            <li class="menubar__li menubar__topli active__menubar" value="myinfo">
                                <p class="col-md-10 menubar__p">Mínar Upplýsingar</p>
                                <i class="arrow">&rarr;</i>
                            </li>
                            <li class="menubar__li" onclick="location.href='{% url 'AddressView' %}'" value="address">
                                <p class="col-md-10 menubar__p">Heimilisfang</p>
                            </li>
                            <li class="menubar__li" onclick="location.href='{% url 'CreditcardView' %}'" value="cardinfo">
                                <p class="col-md-10 menubar__p">Korta Upplýsingar</p>
                            </li>
                            <li class="menubar__li TAKA" onclick="location.href='{% url 'userprofielView' %}'" id="changepw" value="changepw">
                                <p class="col-md-10 menubar__p">Breyta um Lykilorð</p>
                            </li>
                            <li class="menubar__li TAKA" onclick="location.href='{% url 'userprofielView' %}'" value="wishlist">
                                <p class="col-md-10 menubar__p">Óskalistinn Minn</p>
                            </li>
                            <li class="menubar__li TAKA" onclick="location.href='{% url 'userprofielView' %}'" value="myorders">
                                <p class="col-md-10 menubar__p">Mínar Pantanir</p>
                            </li>
                        </ul>
                    </nav>

                </div>


                <div class="col-md-8 useroptions__optiondisplay-col">
                    <div class="row optiondisplay__header-row">
                        <div class="col-md-10 optiondisplay__header-col">
                            <h2 class="optiondisplay__header-title">Mínar Upplýsingar</h2>
                        </div>
                    </div>

                    <div class="row optiondisplay__userinfo-content-row">
                        <div class="col-md-4 userinfo__column-profile">
                            <img src="{% static 'layoutPictures/bolur.png' %}" alt="profile pic" class="profile__img">
                            <button class="userinfo__profile-button button__blue">Breyta mynd</button>
                        </div>

                        <div class="col-md-6 userinfo__col">
                            <div class="row myinfo__header-row">
                                <h2 class="myinfo__header-title font__italic" >JonJons</h2>
                                <p class="myinfo__header-subtext">Hér geturu breytt öllum þínum upplýsingum</p>
                            </div>


                            <label for="user-firstname" class="myinfo__label">Fyrra Nafn:</label>
                            <input type="text" id="user-firstname" class="myinfo__input"  value="Jón Jónsson">
                            <label for="user-lastname" class="myinfo__label">Seinna Nafn:</label>
                            <input type="text" id="user-lastname" class="myinfo__input"  value="Jón Jónsson">
                            <label for="user-email" class="myinfo__label">Netfang:</label>
                            <input type="text" id="user-email" class="myinfo__input"  value="jon@jon.is">
                            <button class="myinfo__button button__blue">Breyta upplýsingum</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

{% endblock %}