{% extends 'base_no_banner.html' %}
{%  block content %}
    {% load static %}
     <link rel="stylesheet" href="{% static '/css/signup.css' %}">
    <!--<h1>Sign up now!</h1>-->

    <div class="col-md-4 col-md-offset-4 signup__container">
        <div class="row container__logo">
            <img src="{% static '/layoutPictures/Logo_3.png' %}" alt="Logo" class="logo__img">
        </div>

        <form class="form form-horizontal register__form" method="post" action="{% url 'userprofielView' %}">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary button__green signup__button" value="Nýskrá">
        </form>
    </div>

{% endblock %}