{% extends 'base_no_banner.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" href="{% static '/css/signup.css' %}">

        <div class="col-md-4 signup__container">
             <div class="row container__logo">
                <img src="{% static '/layoutPictures/Logo_3.png' %}" alt="Logo" class="logo__img">
            </div>
            <form class="form form-horizontal register__form" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn btn-primary button__green signup__button" value="Sign up">
            </form>
        </div>
{% endblock %}
